@import url('../../src/components/menu/_menu.css');

body {
   margin: 0;
   height: 100%;
}

#menu-button {
   position: relative;
   cursor: pointer;
   z-index: 2000;
}

#voltar{
   max-width: 30px;
}